
.circle-lg {
   width: 35px;
    height: 35px;
    border-radius: 100%;
    text-align: center;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    background: #FFEA42;
    padding: 5px;
    font-size: 0.7em;
    display: inline-block;
}

.nav .links.list.h-list li a{
    font-size: 1.1em;
    color: #999;
    text-decoration: none;
    position: relative;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

.nav .links.list.h-list li a:after {
    content: '';
    display: block;
    border-bottom: 2px solid #E31043;
    width: 0;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

 .nav .links.list.h-list li a:hover{
    color: #333;    
}

 .nav .links.list.h-list li a:hover:after { 
    width: 100%; 
}
            
.hide{
    opacity:0;
    height: 0;
    padding: 0 8px;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

#menu-toggle{
    max-width: 27px;
}

#menu-toggle-links li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1; 
}

#rotator{
    list-style: none;
}

#rotator li{
    display: inline;
}

#contact{
    margin-left: 40px;
}

.text-crankred{
    color:#E31043;
}

.border{
    border: 1px solid #e1e1e1;
}

@media (max-width: 480px) {
    .tgap-phone{
        margin-top: 10px;
    }
}

#sideLink{
    position: fixed;
    right: 0;
    top: 45%;
    background: #E31043;
    padding: 5px;
    z-index: 99;
}
#sideLink a{
    padding: 5px;
    color: #FF9696;
    -o-transition: color .5s ease;
    -ms-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -webkit-transition: color .5s ease;
    transition: color .5s ease;
}

#sideLink a:hover{
    color:#FFFFFF;
}

#sideLink li + li{
    border-top: 1px solid #FF6A6A;
    padding-top: 5px;
    margin-top:5px; 
}

#brands img{
    margin-left:50px;    
    height: 50px; 
}

.product{
    border: 1px solid #e1e1e1;
    padding: 10px;
    height:150px;
}

.toplinks{
    margin-left: 50px;
}

/*    media queries: */
@media (min-width: 481px) and (max-width: 1199px) {
    #brands img{
        margin-left:0;
        height: 30px; 
    }
    
    .nav .links.list.h-list li a{
        color: #333;
    }
    
    .toplinks {
        margin-left: 20px;
    }
    
    .links{
        font-size: 0.9em;
    }
    
    .font-3x {
        font-size: 2.4em;
    }
    
    .circle-lg{
         width: 30px;
        height: 30px;
    }
   
}

.slick-initialized .slick-slide{
    display: flex;
}

@media (max-width: 480px){
     #footer .links.list.h-list li + li{
        margin-left: 0;
        margin-top: 20px; 
       
    }
    
    .nav .links.list.h-list li a{
        color: #333;
    }
    
    .nav .center{
        -webkit-box-pack: flex-start;
        -moz-box-pack: flex-start;
        box-pack: flex-start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        -o-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-pack: flex-start;
        -webkit-box-align: flex-start;
        -moz-box-align: flex-start;
        box-align: flex-start;
        -webkit-align-items: flex-start;
        -moz-align-items: flex-start;
        -ms-align-items: flex-start;
        -o-align-items: flex-start;
        align-items: flex-start;
        -ms-flex-align: flex-start;
    }
    
    #footer .links.list.h-list,.nav .list.h-list{
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
    }
     #contact {
        margin-left: 0;
    }
    #brands img{
       height: 26px;
        margin-left: 0;
        width: 70px;
    }
    .circle-lg {
        width: 25px;
        height: 25px;
    }
    
    h2 .margin-l.margin-left{
        margin-left: 0; 
    }
}